<div class="highlight-reel">
  <div class="highlight-reel-feature">
    {{> molecules-hero-tile }}
  </div>
  <ul class="highlight-reel-list">
    {{#highlight_reel}}
    <li class="highlight-reel-list-item">
      {{> molecules-card--overlay }}
    </li>
    {{/highlight_reel}}
  </ul>
</div>