<header class="main-header">
  <div class="masthead">
    <img src="http://register.webcastcloud.com.au/smithink/VideoChannel/smithink-logo-header.png" alt="" class="logo">
  </div>
  <nav>
    <ul class="nav-main">
      <li><a class="nav-main-link" href="">help</a></li>
      <li><a class="nav-main-link" href="">cart</a></li>
      <li><a class="nav-main-link" href="">register</a></li>
      <li><a class="nav-main-link" href="">log in</a></li>
    </ul>
  </nav>
</header>

<section class="section">
  {{> organisms-highlight-reel }}
</section>
<section class="section">
  <div class="action-bar">
    <ul class="filter-list">
      <li class="filter-list-item">
        <input type="search" id="searchInput" placeholder="Search" >
      </li>
      <li class="filter-list-item">
        <select id="slSubCatalogues" name="slSubCatalogues" data-filter-multiple="true">
          <option value="-1">Conferences</option>
        </select>
      </li>
      <li class="filter-list-item">
        <select id="slSubCatalogues" name="slSubCatalogues" data-filter-multiple="true">
          <option value="-1">Conferences</option>
        </select>
      </li>
      <li class="filter-list-item">
        <select id="slSubCatalogues" name="slSubCatalogues" data-filter-multiple="true">
          <option value="-1">Conferences</option>
        </select>
      </li>
      <li class="filter-list-item">
        <select id="slSubCatalogues" name="slSubCatalogues" data-filter-multiple="true">
          <option value="-1">Conferences</option>
        </select>
      </li>
    </ul>
   
  </div>
  {{> organisms-card-list }}
</section>