<div class="card">
  <div class="card-header">
    <div class="card-image">
      <img src="{{ catalogue_item.ThumbnailUrl }}" alt="">
      <div class="card-image-overlay">
        <div class="card-price">
          <span class="h2">
            {{catalogue_item.Cost}}
          </span>
        </div>
        {{#catalogue_item.CustomFields}}
          <span class="label">{{FieldName}} {{FieldLabel}}</span>
        {{/catalogue_item.CustomFields}}
      </div>
      <time class="card-duration">
        {{ catalogue_item.Duration }}
      </time>
    </div>
  </div>
  <div class="card-body">
    <h2 class="card-heading">{{catalogue_item.Title}}</h2>
    <h4 class="card-subheading">{{catalogue_item.Description}}</h4>
    <time class="card-date">
      {{catalogue_item.RecordDate}}
    </time>
  </div>
  <div class="card-footer">
    <div class="card-footer-left">
      <a href="" class="button small">{{ catalogue_item.buttonLabel }}</a>
    </div>
    <div class="card-footer-right" >
        <button class="icon-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M84.437 39.72H60.273V15.564c0-1-.812-1.812-1.812-1.813H41.537c-1 0-1.812.812-1.812 1.813v24.16h-24.16c-.96 0-1.812.85-1.813 1.812V58.46c0 .48.192.943.532 1.282.34.34.8.53 1.282.53h24.16v24.165c0 .48.19.942.53 1.282.34.34.803.53 1.283.53H58.46c.48 0 .943-.192 1.284-.533.338-.338.53-.8.53-1.28V60.273h24.162c.5 0 .953-.203 1.282-.53.33-.33.53-.783.53-1.284l.002-16.926c0-1-.81-1.812-1.813-1.813z"/></svg>
        <span class="show-for-sr">more info</span>
        </button>
        <button class="icon-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50 12.5c-20.712 0-37.5 16.793-37.5 37.502C12.5 70.712 29.288 87.5 50 87.5s37.5-16.788 37.5-37.498C87.5 29.292 70.712 12.5 50 12.5zm3.826 58.36c0 .72-.584 1.304-1.304 1.304h-5.044c-.72 0-1.304-.583-1.304-1.304V46.642c0-.72.584-1.304 1.304-1.304h5.044c.72 0 1.304.583 1.304 1.304V70.86zM49.97 39.933c-2.47 0-4.52-2.048-4.52-4.58 0-2.53 2.05-4.517 4.52-4.517 2.53 0 4.578 1.987 4.578 4.518 0 2.53-2.048 4.58-4.58 4.58z"/></svg>
        <span class="show-for-sr">more info</span>
        </button>
    </div>
  </div>
  <div class="card-slider">
    <div class="card-slider-header">
      <h4 class="small-heading">Presentation Details</h4>

    </div>
    <div class="card-details">
      You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
With real case studies and an action plan to take away, this is one session you can’t miss. 

    </div>
  </div>
</div>