.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  input {
    margin: 0;
    width: 100%;
  }
  select {
    width: 100%;
  }
}

.filter-list-item {
  flex: 1;
  margin: 0;
  min-width: 200px;
  display: block;

  &:not(:last-child) {
    padding: 0 1rem 0 0;
  }

  &.filter-list-item--long {
    flex: 2;
  }
  
}