.label {
  color: currentColor;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: $spacing/4+rem $spacing/2+rem;
  
  border: 2px solid currentColor;
  border-radius: 3px;
}