@include foundation-typography-base;
/* Fluid type */
@mixin fluid-type($min, $max, $lower-size, $upper-size) {
  font-size: #{$min*2}em;
  font-size: calc( #{$min}em + (#{$max} - #{$min}) * ( (100vw - #{$lower-size}px) / ( #{$upper-size} - #{$lower-size}) ));
}

// html {
//   font-family: $font-stack-body;
//   color: $color-text;
// }

p, li, td {
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5em 0;
  word-break: break-word;
}
s
h1, .h1 {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 1em;
}


h2, .h2 {
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h3, .h3 {
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: 800;
  margin: 0;
  margin-top: 0.8em;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 400;
}

time {
  font-size: 0.7rem;
  font-weight: bold;
}

.small-heading {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 800;
}