$color-background-light: #f6f6f6;
$color-background: #EDEDED;
$color-background-dark: darken($color-background, 10);
$color-text: #4A4A4A;
$color-text-light: #797979;
$color-border: rgba(0, 0, 0, 0.25);
$color-primary: #0CA8A0;
$color-white: #fff;
$spacing: 1;

$foundation-palette: (
  primary: $color-primary,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

$header-font-family: "proxima-nova", helvetica, arial, sans-serif;
$body-font-family: "proxima-nova", helvetica, arial, sans-serif;


@mixin inline-list() {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

