$color-background-light: #f6f6f6;
$color-background: #EDEDED;
$color-text: #4A4A4A;
$color-text-light: #9B9B9B;
$color-border: #D4D4D4;
$color-primary: #0CA8A0;
$color-white: #fff;
$spacing: 1;

$foundation-palette: (
  primary: $color-primary,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);


@mixin inline-list() {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

