@import "variables";
@import "foundation";
@import "global";
@import "typography";


$input-margin: 0;
@include foundation-form-select;
@include foundation-form-text;
@include foundation-pagination;
@import "nav";
@import "button";
@import "label";
@import "card";
@import "hero";
@import "lists";
@import "card-list";
@import "highlight-reel";
@import "filters";

@include foundation-visibility-classes;


.t-text-primary {
  color: $color-primary;
}

.t-background-top {
  background-color: $color-primary;
}
.t-background-nav {
  background-color: $color-white;
}

.t-background-light {
  background-color: $color-background-light;
}

.t-background {
  background-color: $color-background;
}

.t-text-main {
  color: $color-text;
}

.t-text-secondary {
  color: $color-text-light;
}

.nav-main-link {
  color: $color-white;

  &:hover {
    color: $color-text;
  }

  &:after {
    background-color: $color-white;
  }
}