<div class="card--overlay">
  <div class="card-image">
    <img src="{{ catalogue_item.ThumbnailUrl }}" alt="">

    <div class="card-image-overlay--bottom">
      <div class="card-details">
        <h3 class="card-heading">{{ catalogue_item.Title }}</h3>
        <h4 class="card-subheading">{{ catalogue_item.Presenter }}</h4>
      </div>
    </div>
  </div>
</div>