  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.js"
  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
  crossorigin="anonymous"></script>
  <script>
    $('[data-slider]').click(function() {
      console.log('open');
      $(this).parent('.card').find('.card-slider').toggleClass('is-open');
    })
  </script>
  </body>
</html>
